<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>api-project</title>
  </head>
  <body>
    <h1>Rap Names API 2!!</h1>
    <h3>Add a Rapper:</h3>
    <form action="/addName" method="POST">
      <input type="text" placeholder="Rap Name" name="stageName" />
      <input type="text" placeholder="Birth Name" name="birthName" />
      <button type="submit">Submit</button>
    </form>
    <% for(var i = 0; i < rapName.length; i++) {%>
    <li class="info">
      <span><%= rapName[i].stageName %></span>

      <span><%= rapName[i].birthName %></span>
    </li>
    <% } %>
    <h2>Delete a Name</h2>
    <input type="text" id="delete-name" placeholder="Rap Name" />
    <button id="delete-button">Delete</button>
    <div id="message"></div>
    <script src="/main.js"></script>
  </body>
</html>
