<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>api-project</title>
  </head>
  <body>
    <h1>Rap Names API 2!!</h1>
    <form action="/names" method="POST">
      <input type="text" placeholder="Rap Name" name="name" />
      <!-- <input type="text" placeholder="Birth Name" name="birthName" /> -->
      <button type="submit">Submit</button>
    </form>
    <% for(var i = 0; i < rapName.length; i++) {%>
    <li class="info">
      <span><%= rapName[i].name %></span>
      <!-- <span><%= birthName[i].birthName %></span> -->
    </li>
    <% } %>
  </body>
</html>
